spring:
  profiles:
    active: local

# Local 환경
---
spring:
  profiles: local
  jpa:
    database: mysql
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  datasource:
    data: classpath:data-h2.sql # 시작할때 실행시킬 script
    url: jdbc:mysql://localhost:3306/test?useSSL=false
    username: root
    password:
    driver-class-name: com.mysql.jdbc.Driver

logging:
  level:
    ROOT: info